<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="/css/profileData.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <!-- FONT AWESOME CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/utils/phoneMask.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="profile-name-container">
                <p class="profile-name">Contatos</p>
            </div>
            
        <form action="/v1/api/create/contacts" class="form-data" method="POST">
        <div class="profile-contacts-container">
            <% if(context.email) { %>
            <div class="input-group">
                <i class="fa-regular fa-envelope" style="color: #ff7300;"></i>
                <input type="text" name="userEmail" class="user-email" value="<%= context.email %>" readonly required>
                <input type="hidden" name="userEmailHidden" value="<%= context.email %>">
            </div>
            <% } %>

            <div class="input-group">
                <i class="fa-brands fa-whatsapp" style="color: #25d366;"></i>
                <input type="tel" maxlength="15" onkeyup="handlePhone(event)" name="userWhatsApp" class="user-wpp" placeholder="(DDD)9XXXX-XXXX">
            </div>
            <div class="input-group">
                <i class="fa-brands fa-instagram" style="color: #fd5c63;"></i>
                <input type="text" name="userInstagram" class="user-instagram" placeholder="@user">
            </div>
        </div>

        <% if(context.userGrade == 2){ %>
        <div class="profile-pos-grad-container">
            <div class="option-title-container">
                <p class="option-title">Pos Graduação</p>
            </div>
            <div class="option-container">
                <input type="radio" name="userPosGrad" class="radio-opt" value="mestrado">
                <label for="userPosGrad" class="radio-opt-label">Mestrado</label>
            </div>
            <div class="option-container">
                <input type="radio" name="userPosGrad" class="radio-opt" value="doutorado">
                <label for="userPosGrad" class="radio-opt-label">Doutorado</label>
            </div>
            <div class="option-container">
                <input type="radio" name="userPosGrad" class="radio-opt" value="pos-doutorado">
                <label for="userPosGrad" class="radio-opt-label">Pós Doutorado</label>
            </div>
            <div class="option-container">
                <input type="radio" name="userPosGrad" class="radio-opt" value="profissional">
                <label for="userPosGrad" class="radio-opt-label">Profissional (?)</label>
            </div>
        </div>
        <% } %>

        <div class="submit-btn-container">
            <input type="submit" class="submit-btn" value="Continuar">
        </div>
    </form>
    </div>
</body>
</html>
