*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}

body{
    font-family: 'Roboto';
}

img{
    width: 30vh;
}


.register{
    color: #d9d9d9;
    transition: 0.5s;
}

.register:hover{
    color: #fd5c63;
    transition: 0.5s;
}

.float-left-child{
    
    display: flex;
    flex-direction: column;
    justify-content:center;

    /* CENTER */
    align-items: center;
    
    width: 30%;
    height: 100vh;
    float: left;
    background-color: #282828;
    
}
.float-right-child{
    width: 70%;
    height: 100vh;
    float: left;
    /* background-color: #E0E0E0; */
    background-color: #696969;

    display: flex;
    justify-content: center;
    
}

.right-title{
    color: #d9d9d9;
}



.login-container, .login-form{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    width: 100%;
}

.email-input, .password-input{
    padding: 12px;
    margin-bottom: 8px;

    border: 1px solid #F8F8F8;
    border-radius: 2px;
    transition: 0.5s;
}

.login-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-btn{
    min-width: 7vw;
    width: auto;
    padding: 10px 3.1vw;
    font-size: 18px;
    
    border: none;
    border-radius: 5%;
    
    transition: 0.5s;
    text-align: center;
}

.login-btn:hover{
    cursor: pointer;  
    background-color: #fd5c63;
    color: #fff;
    transition: 0.5s;
}

.email-input:hover, .password-input:hover{
    border: 1px solid #707070;
    transition: 0.5s;
}

input:focus{
    outline: none;
}

input::placeholder{
    font-size: 18px;
}