*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    font-family: 'Roboto';
}

.academic-logo{
    width: 10%;
    height: 25%;
    object-fit: cover;
    margin-left: 2vw;
}

i {
    width: 20px;
    height: 15px;
}


.main-header{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    background-color: #F0F0F0;
    border-bottom: 1px solid #bcbcbc;
}

.header-title{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    right: 45%

}

.main-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: #e0e0e0;
}

.main-container > *{
    margin-bottom: 5px;
}

.form-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

input::placeholder, .form-data{
    font-size: 18px;
}

input[type=text], input[type=email], input[type=password], input[type=date], input[name=universityInput], input[name=cityInput], input[name=stateInput] {
    width: 15vw;
}


.radio-btn, .activity-container{
    display: flex;
    flex-direction: row;
}

.radio-label{
    margin-left: 5%;
}

.activity-container{
    justify-content: center;
    align-items: center;
    width: 100%;

}

.submit-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.password-container > div{
    margin-bottom: 2px;
}

.name-ipt, .email-ipt, .cpf-ipt, .univ-ipt, .city-ipt, .state-ipt, .course-ipt{
    border: 1px solid #F8F8F8;
    border-radius: 4.5px;
    padding: 12px;
    transition: 0.5s;
}
.name-ipt:hover, .email-ipt:hover, .cpf-ipt:hover, .birth-ipt:hover, .univ-ipt:hover, .city-ipt:hover, .state-ipt:hover, .course-ipt:hover{
    border: 1px solid #707070;
    transition: 0.5s;
}    

.birth-ipt{
    padding: 3.5px 9.5%;
    border: 1px solid #F8F8F8;
    border-radius: 4.5px;
    transition: 0.5s;
}

.radio-btn{
    display: flex;
    flex-direction: row;
    padding: 5px 3px;
    align-items: center;
    font-family: 'Roboto';
    /* width: 12.8%; */
}

input{
    margin: 0.4vh 0px;
}

.submit-btn{
    padding: 10px 3.1vw;
    border-radius: 5%;
    cursor: pointer;  
    border: none;
    transition: 0.5s;
}

.submit-btn:hover{
    background-color: #fd5c63;
    color: #fff;
    transition: 0.5s;
}


input:focus{
    outline: none;
}

input[type=radio]{
    margin-left: 0.5vw;
}

/* NEW */
.activity-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}
