*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}


i {
    width: 20px;
    height: 15px;
}

.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 10vh;
    background-color: #181818;
}

.home-container{
    border: 1px solid #00FA9A;
    background-color: #00FA9A;
    border-radius: 5px;
    padding: 15px;
    margin-left: 8%;
    transition: 0.5s;
    color: #fff;
}

.home-container > a{
    color: #fff;
}

.home-container:hover{
    border: 1px solid #00FF40;
    color: #fff;
    background-color: #1B4D3E;
    transition: 0.5s;
    cursor: pointer;
}

.edit-container{
    color: #fff;
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
    padding: 15px;
    margin-right: 8%;
    border-radius: 5px;
    transition: 0.3s;
}
.edit-container:hover{
    color: #F0F8FF;
    background-color: #002244;
    border: 1px solid #7CB9E8;
    cursor: pointer;
    transition: 0.3s;
}

.academic-logo-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.academic-logo{
    min-width: 10vw;
    height: 13vh;
    object-fit: cover;
    margin-top: -1vh;
    margin: auto;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: #696969;
}

.main-container > *{
    margin-bottom: 5px;
}

.form-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%;
} 

input::placeholder, .form-data{
    font-size: 18px;
}

input[type=text], input[type=email], input[type=password] {
    width: 15vw;
}

.radio-btn > input{
    margin-left: 3px;
}

.radio-label{
    color: #fff;

}

.submit-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.password-container > div{
    margin-bottom: 2px;
}

.name-ipt, .email-ipt, .pw-ipt, .confirm-pw-ipt{
    border: 1px solid #F8F8F8;
    border-radius: 4.5px;
    padding: 12px;
    transition: 0.5s;
}    
.name-ipt:hover, .email-ipt:hover, .pw-ipt:hover, .confirm-pw-ipt:hover{
    border: 1px solid #707070;
    transition: 0.5s;
}    
.register-radio-btn-container, .radio-btn{
    display: flex;
    flex-direction: row;
    padding: 5px 9px;
    align-items: center;
    font-family: 'Roboto';
}

.radio-btn > input{
    margin-left: 3px;
}

input{
    margin: 0.4vh 0px;
}

input:focus{
    outline: none;
}

.submit-btn{
    padding: 10px 3.1vw;
    border-radius: 5%;
    cursor: pointer;  
    border: none;
    transition: 0.5s;
}

.submit-btn:hover{
    background-color: #fd5c63;
    color: #fff;
    transition: 0.5s;
}

input[type=radio]{
    margin-left: 0.5vw;
}