
<div class="chat-username-container">
    <i class="fa-solid fa-arrow-left" style="color: hsl(0, 0%, 100%);"></i>
    <p class="username">Lorem Ipsum</p>
    <i class="fa-solid fa-up-down" onclick="chatAppArrowIcon()" style="color: #ffffff;"></i>        </div>

<div class="contacts">
    <div class="contacts-group-title">
        <p class="ctt-title">Contact Name</p>
    </div>

    <div class="users-container">
        <div class="message-container">
            <div class="received-message">
                <p class="received-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nulla magni at nam fugit excepturi quae rerum alias id. Impedit obcaecati suscipit totam aliquam, est minus ut voluptate beatae provident?</p>
            </div>
            <div class="sent-message">
                <p class="sent-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="sent-message">
                <p class="sent-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="received-message">
                <p class="received-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nulla magni at nam fugit excepturi quae rerum alias id. Impedit obcaecati suscipit totam aliquam, est minus ut voluptate beatae provident?</p>
            </div>
            <div class="sent-message">
                <p class="sent-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="sent-message">
                <p class="sent-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="sent-message">
                <p class="sent-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
        <div class="textbox-container">
            <input type="text" name="" class="user-textarea" placeholder="Mensagem">
            <button type="submit" class="send-message-btn">Enviar</button>
        </div>
    </div>
</div>