<div class="chat-username-container">
    <!-- back btn -->
    <i class="fa-solid fa-arrow-left back-btn" id="back-btn" style="color: hsl(0, 0%, 100%);"></i>
    <i class="fa-solid fa-up-down" onclick="chatAppArrowIcon()" style="color: #ffffff;"></i>        </div>
