<div class="main-header">
    <div class="home-container">
        <a href="/v1/"><p class="home-btn">Home</p></a>
    </div>
    <div class="academic-logo-container">
        <img src="/images/white-logo.png" alt="academic-logo" class="academic-logo">
    </div>
</div>